path {
    stroke: #000;
    stroke-width: 0.5;
    fill-opacity: 0.7;
}

#tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    background: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: none;
    display: none;
}

#fill-fields-tooltip {
    display: none;
    position: absolute;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

#calculate:hover + #fill-fields-tooltip {
    display: inline-block;
}