path {
    stroke: #000;
    stroke-width: 0.5;
    fill-opacity: 0.7;
}

#tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    background: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: none;
    display: none;
}